* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: auto;
}

@media screen and (min-width: 1199px) {
  .container {
    max-width: 1170px;
  }
  .info-1__text {
    padding-left: 9rem;
  }
  .top-phone, .navbar-wrap {
    margin-left: 5rem;
  }
}

@media screen and (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
  .info-1__text {
    padding-left: 7.5rem;
  }
  .top-phone, .navbar-wrap {
    margin-left: 5rem;
  }
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 750px;
  }
  .info-2__img_pic {
    margin-top: 5rem;
  }
  .info-1__text {
    padding-left: 8.5rem;
  }
  .top-phone, .navbar-wrap {
    margin-left: 5rem;
  }
}

@media screen and (max-width: 768px) {
  .top {
    margin-top: 0rem !important;
  }
  .container {
    margin-top: 0rem !important;
    width: 100%;
    padding: 0 20px;
  }
  .info-2__img_pic {
    margin-top: 5rem;
  }
  .top-phone, .info-1, .info-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info-1__text, .info-2__text {
    font-size: 1rem;
  }
  .info-1__text {
    padding-left: 4.5rem;
  }
  .top-phone__info {
    margin-left: -1rem !important;
  }
}

@media screen and (max-width: 440px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
  .top-phone__info {
    margin-left: -1rem !important;
  }
  .top-phone, .navbar-wrap {
    margin-left: 0rem;
  }
  .features__img_line1, .features__img_line2 {
    width: 120%;
  }
  .top-phone, .info-1, .info-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info-1__text {
    padding-left: 2rem;
  }
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url("../fonts/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Adine Kirnberg Regular';
  src: url("../fonts/AdineKirnberg.eot");
  src: url("../fonts/AdineKirnberg.eot?#iefix") format("embedded-opentype"), url("../fonts/AdineKirnberg.woff") format("woff"), url("../fonts/AdineKirnberg.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Proxima Nova Light', sans-serif;
  color: #262626;
}

.button-close {
  display: block;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: #39da56;
  text-transform: uppercase;
  font-family: 'Proxima Nova Bold', sans-serif;
  border: 2px solid green;
}

.top-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 5rem 0rem 5rem;
}

.top-phone__icon {
  width: 3rem;
  margin-right: 1.5rem;
}

.top-phone__phone {
  text-decoration: none;
  font-family: 'Proxima Nova Bold', sans-serif;
  color: #262626;
  font-size: 1.2rem;
}

.top-phone__info {
  margin-left: 1.5rem;
  font-size: 1.2rem;
}

.navbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 5rem;
  padding: 1rem;
  background-image: url(../img/logistics.jpg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  background-origin: content-box;
  min-height: 32rem;
}

.logo__picture {
  width: 10rem;
  padding-left: 2rem;
}

.logo__title {
  margin-right: auto;
  font-family: 'Proxima Nova Bold', sans-serif;
  padding-left: 2rem;
}

.logo__main-title {
  margin: 0rem;
  font-size: 3rem;
  font-family: 'Proxima Nova Bold', sans-serif;
}

.logo__second-title {
  font-size: 1.2rem;
}

.logo__third-title {
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 1.3rem;
  text-transform: uppercase;
  padding-top: 1rem;
  margin: 0rem;
}

.logo__phone {
  text-decoration: none;
  color: #262626;
  font-family: 'Proxima Nova Bold', sans-serif;
  padding-right: 2rem;
}

.info-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-image: url(../img/logistic-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.info-1__text {
  color: #000000;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.info-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: -5rem;
}

.info-2__text {
  color: #000000;
  font-size: 1.5rem;
}

.info-2__img_pic {
  width: 70%;
}

.section-second {
  margin-bottom: 2rem;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title__text {
  font-family: 'Proxima Nova Bold', sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.features__img_line1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__img_line1_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33.3%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__img_line1_pic1 {
  width: 59%;
}

.features__img_line1_pic2 {
  width: 84%;
}

.features__img_line1_pic3 {
  width: 54%;
}

.features__img_line1_text {
  display: block;
  text-transform: uppercase;
  margin-top: 1.5rem;
}

.features__img_line2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4rem;
}

.features__img_line2_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__img_line2_pic4 {
  width: 46%;
}

.features__img_line2_pic5 {
  width: 45%;
}

.features__img_line2_text {
  display: block;
  text-transform: uppercase;
  margin-top: 1rem;
}

.company {
  margin-left: 5rem;
}
/*# sourceMappingURL=style.css.map */