* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 70%;
  margin: 0 auto;
}

@media screen and (min-width: 1199px) {
  .container {
    max-width: 70%;
  }
  .logo__third-title {
    margin: 0 !important;
  }
}

@media screen and (max-width: 1075px) {
  .container {
    max-width: 70%;
  }
  .logo__title {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .logo__main-title {
    font-size: 1.5rem !important;
  }
  .logo__third-title {
    font-size: 1rem !important;
  }
}

@media screen and (max-width: 900px) {
  .logo__title {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .logo__main-title {
    font-size: 1.5rem !important;
  }
  .logo__third-title {
    font-size: 1rem !important;
  }
  .features__text {
    font-size: 1rem !important;
  }
  .box__text {
    font-size: 0.5rem !important;
  }
  .navbar-wrap {
    margin-left: 0rem !important;
  }
}

@media screen and (max-width: 710px) {
  .logo__title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .logo__main-title {
    font-size: 1.5rem !important;
  }
  .logo__third-title {
    font-size: 1rem !important;
  }
  .top-phone {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .top-phone__icon {
    margin-left: 0 !important;
  }
}

@media screen and (max-width: 524px) {
  .logo__title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .logo__main-title {
    font-size: 1.5rem !important;
  }
  .logo__third-title {
    font-size: 0.7rem !important;
  }
  .top-phone__icon {
    margin-left: 0 !important;
  }
  .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card {
    width: 100% !important;
    margin-bottom: 0.5rem;
  }
  .navbar-wrap {
    width: 100% !important;
  }
  .container {
    width: 100% !important;
    margin: 0 auto !important;
  }
  .features {
    width: 100% !important;
    margin-top: 0rem !important;
    padding: 0.5rem !important;
  }
  .features__text {
    font-size: 0.8rem !important;
  }
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url("../fonts/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Adine Kirnberg Regular';
  src: url("../fonts/AdineKirnberg.eot");
  src: url("../fonts/AdineKirnberg.eot?#iefix") format("embedded-opentype"), url("../fonts/AdineKirnberg.woff") format("woff"), url("../fonts/AdineKirnberg.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Proxima Nova Light', sans-serif;
  color: #262626;
}

.button-close {
  display: block;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: #39da56;
  text-transform: uppercase;
  font-family: 'Proxima Nova Bold', sans-serif;
  border: 2px solid green;
}

.top-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
}

.top-phone__icon {
  width: 3rem;
  margin-left: 2rem;
}

.top-phone__phone {
  margin-left: 1rem;
  text-decoration: none;
  font-family: 'Proxima Nova Bold', sans-serif;
  color: #262626;
  font-size: 1.2rem;
}

.top-phone__info {
  margin-left: 1.5rem;
  font-size: 1.2rem;
}

.logo__picture {
  width: 3rem;
}

.logo__name {
  margin-left: 1rem;
  font-family: 'Proxima Nova Bold', sans-serif;
}

.logo__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Proxima Nova Bold', sans-serif;
}

.logo__main-title {
  font-size: 2rem;
  font-family: 'Proxima Nova Bold', sans-serif;
  padding-right: 0.5rem;
}

.logo__third-title {
  font-family: 'Proxima Nova Bold', sans-serif;
  margin-left: 0.5rem !important;
  font-size: 1rem;
  text-transform: uppercase;
  padding-left: 0.5rem;
  border-left: 2px solid black;
}

.logo__phone {
  text-decoration: none;
  color: #262626;
  font-family: 'Proxima Nova Bold', sans-serif;
  padding-right: 2rem;
}

.navbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  background-image: url(../img/Logistics.jpg);
  background-repeat: no-repeat;
  margin-left: 12rem;
  min-height: 32rem;
}

.navbar-wrap .info-1__text {
  width: 85%;
  color: #000000;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 8rem;
}

.features {
  margin-top: 1rem;
  padding: 1.5rem;
}

.features__text {
  text-align: center;
  font-family: 'Proxima Nova Bold', sans-serif;
  font-size: 1.5rem;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cards .card {
  width: 25%;
  text-align: center;
  padding-top: 1rem;
  text-transform: uppercase;
  font-family: 'Proxima Nova Bold', sans-serif;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 1rem;
}

.cards .img {
  border-radius: 5px 5px 0 0;
}

.cards .card:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.cards .box__text {
  font-size: 0.9rem;
}

.section-second {
  margin-bottom: 2rem;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title__text {
  font-family: 'Proxima Nova Bold', sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.features__img_line1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__img_line1_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33.3%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__img_line1_pic1 {
  width: 59%;
}

.features__img_line1_pic2 {
  width: 84%;
}

.features__img_line1_pic3 {
  width: 54%;
}

.features__img_line1_text {
  display: block;
  text-transform: uppercase;
  margin-top: 1.5rem;
}

.features__img_line2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4rem;
}

.features__img_line2_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__img_line2_pic4 {
  width: 46%;
}

.features__img_line2_pic5 {
  width: 45%;
}

.features__img_line2_text {
  display: block;
  text-transform: uppercase;
  margin-top: 1rem;
}

footer {
  margin-top: 2rem;
}
/*# sourceMappingURL=style.css.map */