* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: auto;
}

@media screen and (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 750px;
  }
  .info-2__img_pic {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 30px;
  }
}

@media screen and (max-width: 430px) {
  .container {
    max-width: 100%;
    padding: 0 30px;
  }
  .container .top-phone, .container .info-1, .container .info-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../fonts/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url("../fonts/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Adine Kirnberg Regular';
  src: url("../fonts/AdineKirnberg.eot");
  src: url("../fonts/AdineKirnberg.eot?#iefix") format("embedded-opentype"), url("../fonts/AdineKirnberg.woff") format("woff"), url("../fonts/AdineKirnberg.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Proxima Nova Light', sans-serif;
  color: #262626;
}

.top-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 5rem 0rem 5rem;
}

.top-phone__icon {
  width: 3rem;
  margin-right: 1.5rem;
}

.top-phone__phone {
  text-decoration: none;
  font-family: 'Proxima Nova Bold', sans-serif;
  color: #262626;
  font-size: 1.2rem;
}

.top-phone__info {
  margin-left: 1.5rem;
  font-size: 1.2rem;
}

.navbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 5rem;
  padding: 1rem;
}

.logo__picture {
  width: 10rem;
  padding-left: 2rem;
}

.logo__title {
  margin-right: auto;
  font-family: 'Proxima Nova Bold', sans-serif;
  padding-left: 2rem;
}

.logo__main-title {
  margin: 0rem;
  font-size: 2.5em;
  font-family: 'Adine Kirnberg Regular', serif;
}

.logo__second-title {
  font-size: 1.2rem;
}

.logo__second-title, .logo__third-title {
  font-family: 'Proxima Nova Light', sans-serif;
  margin: 0rem;
}

.logo__phone {
  text-decoration: none;
  color: #262626;
  font-family: 'Proxima Nova Bold', sans-serif;
  padding-right: 2rem;
}

.info-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.info-1__text {
  color: #000000;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.info-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: -5rem;
}

.info-2__text {
  color: #000000;
  font-size: 1.5rem;
}

.info-2__img_pic {
  width: 70%;
}

.section-second {
  margin-bottom: 2rem;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title__text {
  font-family: 'Proxima Nova Bold', sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.features__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__img .right {
  margin-right: auto;
}

.features__img_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__img_pic1 {
  width: 60%;
}

.features__img_pic2 {
  width: 55%;
}

.features__img_pic3 {
  width: 50%;
}

.features__img_pic4 {
  width: 100%;
}

.features__img_text {
  display: block;
  text-transform: uppercase;
}

/*.features__text
    display: flex
    justify-content: space-around
    align-items: center
    &_block
        text-align: centre*/
/*# sourceMappingURL=style.css.map */