*
    box-sizing: border-box
    
.container
    max-width: 70%
    margin: 0 auto
@media screen and (max-width: 1199px)
    .container
        max-width: 70%
  
@media screen and (max-width: 1028px)
    .container
        max-width: 70%
   
@media screen and (max-width: 900px)
    .logo__third-title
        font-size: 1rem !important
    .logo__main-title
        font-size: 1.5rem !important
    .features__text
        font-size: 1rem !important 
    .box__text
        font-size: 0.5rem !important
    .navbar-wrap
        margin-left: 0rem !important

@media screen and (max-width: 710px)
    .logo__third-title
        font-size: 1rem !important
    .logo__main-title
        font-size: 1.5rem !important
    .top-phone
        flex-direction: column

@media screen and (max-width: 524px)
    .logo__third-title
        font-size: 1rem !important
    .logo__main-title
        font-size: 1.5rem !important
    .container
        margin: 0 auto !important
    .cards
        flex-direction: column
        align-items: center
    .card
        width: 100% !important
        margin-bottom: 0.5rem        
    .navbar-wrap
        width: 100% !important
    .container
        width: 100% !important
    .features 
        width: 100% !important
        margin-top: 0rem !important
        padding: 0.5rem !important
        &__text
            font-size: 0.8rem !important
    
    