*
    box-sizing: border-box
    
.container
    max-width: 1170px
    margin: auto
@media screen and (min-width: 1199px)
    .container
        max-width: 1170px
    .info-1__text
        padding-left: 9rem
    .top-phone, .navbar-wrap
        margin-left: 5rem
@media screen and (max-width: 1199px)
    .container
        max-width: 960px
    .info-1__text
        padding-left: 7.5rem
    .top-phone, .navbar-wrap
        margin-left: 5rem
@media screen and (max-width: 991px)
    .container
        max-width: 750px
    .info-2__img_pic
        margin-top: 5rem
    .info-1__text
        padding-left: 8.5rem
    .top-phone, .navbar-wrap
        margin-left: 5rem
@media screen and (max-width: 768px)
    .top
        margin-top: 0rem !important
    .container
        margin-top: 0rem !important
        width: 100%
        padding: 0 20px 
    .info-2__img_pic
        margin-top: 5rem   
    .top-phone, .info-1, .info-2
        flex-direction: column
    .info-1__text, .info-2__text
        font-size: 1rem
    .info-1__text
        padding-left: 4.5rem
@media screen and (max-width: 430px)
    .container
        width: 100%
        padding: 0 20px 
    .features__img_line1, .features__img_line2, .title,
        width: 120%
    .top-phone, .info-1, .info-2
        flex-direction: column
    .info-1__text
        padding-left: 4.5rem