.top-phone
    display: flex
    align-items: center
    justify-content: center
    margin-top: 1rem    
    &__icon
        width: 3rem
        margin-left: 2rem
    &__phone
        margin-left: 1rem
        text-decoration: none
        +bold
        color: $text-color
        font-size: 1.2rem
    &__info
        margin-left: 1.5rem
        font-size: 1.2rem
.logo
    &__picture
        width: 3rem
    &__name
        margin-left: 1rem
        +bold    
    &__title
        display: flex
        justify-content: center 
        +bold
    &__main-title
        //margin-top: -5rem
        font-size: 2rem
        +bold  
        //border-right: 2px solid black 
        padding-right: 0.5rem              
    // &__second-title
    //     font-size: 1.2rem
    &__third-title
        +bold
        font-size: 1.3rem
        text-transform: uppercase
        padding-left: 0.5rem
        border-left: 2px solid black
    &__phone
        text-decoration: none 
        color: $text-color
        +bold   
        padding-right: 2rem
.navbar
    &-wrap
        display: flex
        flex-wrap: wrap
        align-content: space-between
        justify-content: space-between 
        padding: 1rem
        background-image: url(../img/Logistics.jpg)
        background-repeat: no-repeat
        // background-position: left
        // background-size: 90% 100%
        margin-left: 12rem
        min-height: 32rem
        .info-1__text
            width: 85%
            color: $text-black
            font-size: 1.5rem
            text-transform: uppercase
            margin-bottom: 8rem



    
          
