.top-phone
    display: flex
    align-items: center
    justify-content: center
    margin-top: 1rem
    
    &__icon
        width: 3rem
        margin-left: 1.5rem
    &__phone
        margin-left: 1rem
        text-decoration: none
        +bold
        color: $text-color
        font-size: 1.2rem
    &__info
        margin-left: 1.5rem
        font-size: 1.2rem
.logo
    &__picture
        width: 5rem
        padding-left: 2rem
    &__name
        margin-left: 1rem
        +bold
    &__title
        margin-right: auto
        +bold
        padding-left: 2rem
    &__main-title
        margin: 0rem
        font-size: 3rem
        +bold
        
    &__second-title
        font-size: 1.2rem
    &__third-title
        +bold
        font-size: 1.3rem
        text-transform: uppercase
        padding-top: 1rem
        margin: 0rem    
    &__phone
        text-decoration: none 
        color: $text-color
        +bold   
        padding-right: 2rem
.navbar
    &-wrap
        display: flex
        flex-wrap: wrap
        align-items: center
        justify-content: space-between 
        padding: 1rem
        background-image: url(../img/Logistics.jpg)
        background-repeat: no-repeat
        // background-position: left
        // background-size: 90% 100%
        margin-left: 12rem
        min-height: 32rem
        .info-1__text
            //display: block
            color: $text-black
            font-size: 1.5rem
            text-transform: uppercase



    
          
