.section-second
    margin-bottom: 2rem
.title
    display: flex
    justify-content: center
    &__text
        +bold
        text-transform: uppercase
        font-size: 1.5rem
   
.features__img
    display: flex
    align-items: center
    //justify-content: space-beetween
    .right
        margin-right: auto
    &_block
        display: flex
        flex-direction: column
        align-items: center
        //justify-content: space-between
    &_pic1
        width: 60%
    &_pic2
        width: 55%
        
    &_pic3
        width: 50%
    &_pic4
        width: 100%
    &_text
        display: block
        text-transform: uppercase
        
        

/*.features__text
    display: flex
    justify-content: space-around
    align-items: center
    &_block
        text-align: centre*/

    
