.section-second
    margin-bottom: 2rem
.title
    display: flex
    justify-content: center
    &__text
        +bold
        text-transform: uppercase
        font-size: 1.5rem
   
.features__img_line1
    display: flex
    align-items: center
    &_block
        display: flex
        flex-direction: column
        align-items: center
    &_pic1
        width: 62%
    &_pic2
        width: 55%
        
    &_pic3
        width: 44%
    &_text
        display: block
        text-transform: uppercase
.features__img_line2
    display: flex
    align-items: center
    &_block
        display: flex
        flex-direction: column
        align-items: center
    &_pic4
        width: 56%
    &_pic5
        width: 30%
    &_text
        display: block
        text-transform: uppercase        

    
